<a href="https://colab.research.google.com/github/juliasarun/skills-salary-analysis/blob/main/notebooks/skill_salary_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Skills to Salary Correlation
### What skills are required for higher-paying roles?

This project aims to see what skills pay off in terms of salary.

### getting data

In [4]:
!git clone https://github.com/juliasarun/skills-salary-analysis.git

Cloning into 'skills-salary-analysis'...
remote: Enumerating objects: 15, done.
remote: Counting objects: 100% (15/15), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 15 (delta 1), reused 10 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (15/15), 2.38 MiB | 7.64 MiB/s, done.
Resolving deltas: 100% (1/1), done.

In [6]:
%cd skills-salary-analysis

/content/skills-salary-analysis

data from https://www.kaggle.com/datasets/mann14/global-ai-and-data-science-job-market-20202026/

### extract data

In [31]:
# import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
# load data into dataframes

jobs = pd.read_csv('data/ai_jobs.csv')
skills = pd.read_csv('data/skills_demand.csv')

In [18]:
jobs.head(5)

,job_id,job_title,company_type,industry,country,city,remote_type,experience_level,min_experience_years,salary_min_usd,salary_max_usd,employment_type,posted_year,company_size
0,0IFD0TVBDIVU,MLOps Engineer,Research Lab,Education,Australia,Remote,Remote,Entry,0,56873,72223,Full-time,2023,Large
1,ZMF8MDD4V30T,Data Analyst,Startup,Education,Germany,Remote,Remote,Entry,0,54803,85599,Full-time,2024,Medium
2,CX1945NQ4FMY,MLOps Engineer,Research Lab,Tech,Canada,Remote,Remote,Senior,5,149980,175806,Full-time,2021,Large
3,QJ7YHL1C32OC,Applied Scientist,Research Lab,Healthcare,Australia,Remote,Remote,Entry,0,53483,86477,Full-time,2023,Medium
4,F0T0PVN9ER14,Machine Learning Engineer,Research Lab,Finance,Australia,Sydney,Hybrid,Mid,2,102977,127298,Full-time,2023,Large

In [22]:
skills.head(5)

         job_id            skill skill_category   skill_level
0  E0IFD0TVBDIV                R    Programming      Advanced
1  E0IFD0TVBDIV  Computer Vision             ML         Basic
2  E0IFD0TVBDIV              NLP             ML  Intermediate
3  E0IFD0TVBDIV              SQL    Programming  Intermediate
4  ZMF8MDD4V30T              NLP             ML      Advanced

In [30]:
df = skills.merge(jobs, on='job_id')
df['salary_avg'] = (df.salary_min_usd + df.salary_max_usd) / 2
df.head(5)

,job_id,skill,skill_category,skill_level,job_title,company_type,industry,country,city,remote_type,experience_level,min_experience_years,salary_min_usd,salary_max_usd,employment_type,posted_year,company_size,salary_avg
0,ZMF8MDD4V30T,NLP,ML,Advanced,Data Analyst,Startup,Education,Germany,Remote,Remote,Entry,0,54803,85599,Full-time,2024,Medium,70201.0
1,ZMF8MDD4V30T,Python,Programming,Basic,Data Analyst,Startup,Education,Germany,Remote,Remote,Entry,0,54803,85599,Full-time,2024,Medium,70201.0
2,ZMF8MDD4V30T,AWS,Cloud,Advanced,Data Analyst,Startup,Education,Germany,Remote,Remote,Entry,0,54803,85599,Full-time,2024,Medium,70201.0
3,ZMF8MDD4V30T,Azure,Cloud,Intermediate,Data Analyst,Startup,Education,Germany,Remote,Remote,Entry,0,54803,85599,Full-time,2024,Medium,70201.0
4,CX1945NQ4FMY,Computer Vision,ML,Basic,MLOps Engineer,Research Lab,Tech,Canada,Remote,Remote,Senior,5,149980,175806,Full-time,2021,Large,162893.0